*{
    margin: 0;padding: 0;
}
#hero{
    background-image: url(pikaso_texttoimage_libarary-that-has-leaves-and-trees-inside-it.jpeg);
    background-size: cover; 
    background-position: center;
    min-height: 100dvh;
}
#container{
    display: grid;
    justify-content: center;
    align-items: center;
}
#header{
    background: #7d6628c1;
    width: 65dvw;
    height: 10dvh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    position: fixed;
    margin: 0 ;
    top: 7.5vh;
    left: calc((35dvw / 2) - 30px);
    border: .5px solid rgba(255, 255, 255, 0.5);
    a{
        color: white;
        text-decoration: none;
        font-size: clamp(10px, 4vw , 25px);
        font-family: "Fredoka", sans-serif;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 10px;
        
        ion-icons{
            font-weight: bold;
            font-size:inherit ;
        }    
    }
}
@media screen and ( max-width: 700px ) {
    #header a{ 
    span {
        display: none;
    }
    ion-icon{
        font-size: 25px;
    }
}
}

.welcome {
    line-height: 90px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
h1 {    
    color: white;
    gap: 60px;
      font-family: "Fredoka", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
      "wdth" 100; 
    font-size: 3em;
    text-align: center;
}
h2{ 
     font-family: "Saira Stencil One", sans-serif;
    color: #7d6628;
     font-style: normal;
    text-align: center;
    font-size: 5rem;
}

p{
    text-align: center;
    color: white;
    font-size: 2rem;
}